.change-password-page{
    .change-password-card{
        width: 50rem;
        max-width: 100%;
        margin: 0 auto;
        border: 1px solid lightgray;
        padding: 3rem 1rem;
        border-radius: .5rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
}