.data-table{
    overflow-x: auto;
    max-width: 100%;
    table{
        border-spacing: 0;
        width: 100%;
        max-width: 100%;
        background-color: inherit;
        border-top: .1rem solid var(--primary-color);
        border-right: .1rem solid var(--primary-color);
        border-left: .1rem solid var(--primary-color);
        border-radius: .3rem;
        tr{
            background-color: white;
            &:nth-child(even){
                background-color: #f2f2f2;
            }
            .table-loader__holder{
                text-align: center;
                padding: 1rem;
                animation: animate-fade-in .6s ease-in;
            }
            th,td{
                border-bottom: .1rem solid var(--primary-color);
                text-align: left;
                padding: .5rem;
                font-size: 1.4rem;
                margin: 0;
            }
            td{
                animation: animate-fade-in .6s ease-in;
            }
            td:nth-child(even){
                
                border-right: .1rem solid var(--primary-color);
                border-left: .1rem solid var(--primary-color);
            }
            th:nth-child(even){
                
                border-right: .1rem solid var(--primary-color-darken);
                border-left: .1rem solid var(--primary-color-darken);
            }
            td:last-child,th:last-child{
                border-right: none;
            }
            th{
                font-weight: 600;
                background-color: var(--primary-color);
                color: var(--light-font-color);
                position: relative;
                .column-search-box{
                    position: absolute;
                    right: 0;
                    top: 2.8rem;
                    width: 20rem;
                    background-color: inherit;
                    padding: 1rem;
                    border-radius: .3rem;
                    display: flex;
                    animation: animate-fade-in .4s ease-in;
                    button{
                        padding: .5rem;
                        outline: none;
                        background-color: transparent;
                        border: .1rem solid var(--primary-color-darken);
                        color: var(--light-font-color);
                        cursor: pointer;
                    }
                }
                .data-table-search{
                    font-size: 1.2rem;
                    margin-top: .2rem;
                    cursor: pointer;
                }
            }
            
        }
    }
    .pagination{
        padding: 1.5rem 0;
        .page-numbers{
            display: flex;
            li{
                list-style: none;
                margin-right: .4rem;
                border-radius: .3rem;
                &:first-child button{
                    border-top-left-radius: .3rem;
                    border-bottom-left-radius: .3rem;
                }
                &.active button{
                    background-color: var(--primary-color);
                    color: var(--light-font-color);
                }
                &:last-child button{
                    border-top-right-radius: .3rem;
                    border-bottom-right-radius: .3rem;
                }
                &:first-child, &:last-child{
                    background-color: var(--primary-color);
                    button{
                        color: var(--light-font-color);
                    }
                }
                button{
                    min-width: 3rem;
                    padding: .6rem .8rem;
                    border: .1rem solid var(--primary-color);
                    background-color: transparent;
                    cursor: pointer;
                    &:disabled{
                        opacity: .6;
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}