.input{
    outline: none;
    width: 100%;
    border: .1rem solid lightgray;
    font-size: 1.6rem;
    padding: .3rem 1rem;
    border-radius: .3rem;
    height: 3.2rem;
}
.input:focus{
    
    border: .1rem solid rgba(56, 125, 255, 0.281);
}