@import './theme.scss';
html{
    font-size: 10px;
}

body{
    font-family: 'roboto',sans-serif;
}
.fa-icon{
    fill: var(--icon-color);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 1.4rem;
}
a,a:active,a:visited{
    text-decoration: none;
    color: var(--dark-font-color);
}
@for $i from 5 through 1 {
    h#{$i} {
        font-size: 4rem - $i * .55rem; // Example calculation for font size
    }
}